<script src="/js/place.js"></script>
<div id="map">
</div>

<div class="container" data-id="<%= @place.id %>" data-lat="<%= @place.latitude %>" data-lon="<%= @place.longitude %>">
  <h1><%= @place.name %></h1>
</div>
