<script src="/js/place.js"></script>
<div id="map">
</div>

<div id="place" data-id="<%= @place.id %>" data-lat="<%= @place.latitude %>" data-lon="<%= @place.longitude %>">
  <h1><%= @place.name %></h1>
  <a id="transit" href="#">Transit</a><br>
  <a href="/">Home</a>
</div>
